/* normalize.css */
button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}

/* Fonts */

/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('/fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-condensed-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
       url('/fonts/roboto-condensed-v16-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-condensed-v16-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('/fonts/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-condensed-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
       url('/fonts/roboto-condensed-v16-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-condensed-v16-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: white;
  color: black;
  font-family: 'Roboto Condensed';
}

/* Network screen */

.network-wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1380fr 540fr;
  grid-template-rows: 540fr 540fr;
  grid-template-areas: "map  players"
                       "map  news";
}

.network-map {
  grid-area: map;
  padding: 3vh 3vw;
  display: grid;
  align-content: stretch;
  grid-template-columns: 120fr 6fr 120fr 6fr 120fr 6fr 120fr 6fr 120fr 6fr 120fr 6fr 120fr 6fr 120fr;
  grid-template-rows:    120fr 8fr 120fr 8fr 120fr 8fr 120fr 8fr 120fr 8fr 120fr 8fr 120fr 8fr 120fr;
  grid-template-areas:   "00   00a 01    01a 02    02a 03    03a 04    04a 05    05a 06    06a 07"
                         "00b  .   01b   .   02b   .   03b   .   04b   .   05b   .   06b   .   07b"
                         "10   10a 11    11a 12    12a 13    13a 14    14a 15    15a 16    16a 17"
                         "10b  .   11b   .   12b   .   13b   .   14b   .   15b   .   16b   .   17b"
                         "20   20a 21    21a 22    22a 23    23a 24    24a 25    25a 26    26a 27"
                         "20b  .   21b   .   22b   .   23b   .   24b   .   25b   .   26b   .   27b"
                         "30   30a 31    31a 32    32a 33    33a 34    34a 35    35a 36    36a 37"
                         "30b  .   31b   .   32b   .   33b   .   34b   .   35b   .   36b   .   37b"
                         "40   40a 41    41a 42    42a 43    43a 44    44a 45    45a 46    46a 47"
                         "40b  .   41b   .   42b   .   43b   .   44b   .   45b   .   46b   .   47b"
                         "50   50a 51    51a 52    52a 53    53a 54    54a 55    55a 56    56a 57"
                         "50b  .   51b   .   52b   .   53b   .   54b   .   55b   .   56b   .   57b"
                         "60   60a 61    61a 62    62a 63    63a 64    64a 65    65a 66    66a 67"
                         "60b  .   61b   .   62b   .   63b   .   64b   .   65b   .   66b   .   67b"
                         "70   70a 71    71a 72    72a 73    73a 74    74a 75    75a 76    76a 77";
}

.network-players {
  grid-area: players;
  background: #fee;
  padding: 3vh 3vw;
}

.network-news {
  grid-area: news;
  background: #efe;
  padding: 3vh 3vw;
}

.network-wrapper .system {
  border: 0.1vw solid #777;
  border-radius: 0.4vw;
  height: 100%;
  padding: 0.1vw;
  box-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
}

.network-wrapper .system .system-name {
  font-size: 1.2vw;
  text-align: center;
  font-weight: bold;
}

.network-wrapper .network-map-connection {
  display: flex;
  justify-content: center;
}

.network-wrapper .network-map-connection-a {
  flex-direction: column;
}

.network-wrapper .connection {
  height: 0.4vw;
  width: 0.4vw;
  background: #777;
}

/* Hacker screen */

.tabbed-section,
.hacker-net-system {
  display: none;
}

.tabbed-section.active,
.hacker-net-system.active {
  display: block;
}
